@tailwind base;
@tailwind components;
@tailwind utilities;

.orangeBtn {
  @apply bg-orange-400 bg-opacity-50 border-2 border-orange-500 text-white px-2 2xl:px-6 py-1 rounded-xl transform transition-transform duration-500 ease-in-out hover:scale-110 hover:bg-opacity-60;
}
.dwnldBtn {
  @apply bg-orange-500 bg-opacity-50 border-2 border-orange-500 text-white font-semibold px-4 py-2 rounded-xl transform transition-transform  duration-500 ease-in-out hover:scale-110 hover:bg-opacity-60 cursor-pointer;
}
.ghostBtn {
  @apply border-2 border-orange-500 text-orange-400 py-1 rounded-xl transform transition-transform duration-500 ease-in-out hover:scale-110 hover:bg-white hover:bg-opacity-10 px-4 cursor-pointer;
}

.galleryH1 {
  @apply mb-8;
}
